.cache/
.idea/
.netlify/
api.sh
authService/node_modules/
count.sh
dist/
elm-custom-element/
elm-stuff/
graphql-engine/
package-lock.json
public/Main.js
public/Main.min.js
public/Main.min.jus
test.sh
tests/VerifyExamples/
