.cache/
.idea/
.netlify/
Main.min.js
dist/
tocExperiment/Main.js
elm-stuff/
node-modules/
public/Main.js
public/Main.min.jus
yarn-error.log
yarn.loc
yarn.lock
node_modules/
package-lock.json
api.sh
node-stuff/
graphql-engine/
elm-custom-element/
elm
test.sh
build-timer
index.html
results.dat
build.log
measure-elm-make
debounce-exxample/
debounce-example/
